.dot {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(80, 252, 255, 0.746);
}

.calendarViewEntries {
    padding-right: 5%;
    height: 500px;
}