.headerContainer {
    background-color: black;
    height: 100%;
    padding: 0px;
}

.travelJournalButtonContainer {
    width: 55%;
    align-items: left;
}

.homeButtonContainer {
    width: 35%;
}